    # <IfModule mod_headers.c>
    #     Header set Access-Control-Allow-Origin "*"
    #     Header set Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
    #     Header set Access-Control-Allow-Headers "Content-Type, Authorization"
    #     Header set Access-Control-Allow-Credentials "true"
    # </IfModule>

    # # Añadir manejo para solicitudes OPTIONS
    # <IfModule mod_rewrite.c>
    #     RewriteEngine On
    #     RewriteCond %{REQUEST_METHOD} OPTIONS
    #     RewriteRule ^ - [R=200,L,E=HTTP_ACCESS_CONTROL_REQUEST_METHOD:%{HTTP:Access-Control-Request-Method},E=HTTP_ACCESS_CONTROL_REQUEST_HEADERS:%{HTTP:Access-Control-Request-Headers}]
    # </IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirige solicitudes a la raíz a /home
    RewriteRule ^$ /home [R=301,L]

    # Si la solicitud es para un archivo real, directorio o symlink, no reescribir
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l

    RewriteCond %{REQUEST_URI} !^/assets/

    # Reescribir todas las demás solicitudes a index.php
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>
