RewriteEngine On

# Deshabilita el listado de directorios
# Options -Indexes

# Encabezados CORS (si es necesario)
# Header set Access-Control-Allow-Origin "*"

RewriteBase /

# Si la solicitud comienza con "api/", redirigir a la carpeta api
RewriteRule ^api/(.*)$ api/$1 [L]

# Cualquier otra solicitud se redirige a la carpeta spa
RewriteCond %{REQUEST_URI} !^/api/
RewriteCond %{REQUEST_URI} !^/spa/
RewriteRule ^(.*)$ spa/$1 [L]