# Habilita el motor de reescritura
RewriteEngine On

# Establece la URL base para la reescritura
RewriteBase /

# No reescribir si la solicitud es para un archivo real
RewriteCond %{REQUEST_FILENAME} !-f

# No reescribir si la solicitud es para un directorio real
RewriteCond %{REQUEST_FILENAME} !-d

# Redirige todas las demás solicitudes a index.html
# [L] detiene el procesamiento de otras reglas si esta coincide
# [QSA] adjunta la cadena de consulta de la URL de solicitud original a la nueva URL
RewriteRule ^.*$ index.html [L,QSA]