<IfModule mod_headers.c>
    # Activar el módulo de cabeceras para CORS
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
    Header set Access-Control-Allow-Headers "X-Requested-With, Content-Type, Authorization, Accept, Origin"
    Header set Access-Control-Allow-Credentials "true"
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si la solicitud es para un archivo real, directorio o symlink, no reescribir
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l

    # Reescribir todas las demás solicitudes a index.php
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>

# Responder a las solicitudes de OPTIONS para CORS
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_METHOD} OPTIONS
    RewriteRule ^(.*)$ index.php [R=200,L,E=HTTP_ORIGIN:%{HTTP:ORIGIN}]
</IfModule>
